*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* Classi riutilizzabili */
.container{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.btn{
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-orange{
  background-color: #ff7a59;
  color:white;
}

.btn-orange:hover{
  border: 1px solid #ff7a59;
  background-color: transparent;
  color: #ff7a59;
}

.btn-trans{
  border: 1px solid #ff7a59;
  color: #ff7a59;
}

.btn-trans:hover{
  background-color: #ff7a59;
  color:white;
}

.btn-large{
  background-color: #ff7a59;
  padding: 20px;
  color: white;
}

.btn-large:hover{
  border: 1px solid #ff7a59;
  background-color: transparent;
  color: #ff7a59;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #33475b;
  padding-right: 15px;
}

li{
  display: inline-block;
  padding: 0 5px;
}

a:hover{
  color: #ff7a59;
}


h2{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #33475b;
}


h3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
  color: #33475b;
}

p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #33475b;
  line-height: 1.4;
}

/* Header */
header{
  display: unset;
}

/* Top Menu */
.nav-top{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid #33475b;
}

.border{
  border-right: 2px solid #33475b;
}

.fixed-left{
  width: 50%;
  text-align: left;
}

.fixed-right{
  width: 50%;
  text-align: right;
}
/* /Top Menu */

/* Menu fixed */
.nav-fixed{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1;
  top: 0;
}

.img-logo{
  width: 30%;
}

.img-logo img{
  vertical-align: middle;
}

.top-menu-right{
  width: 70%;
  text-align: right;
}
/* /Menu fixed */

/* Jumbotron */
.jumbotron{
  width: 100%;
  height: 690px;
  background-color: #fff4ee;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}

.jumbotron::before{
  width: 100%;
  height: 79px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  content:'';
  display: block;
}

.jumbo-text{
  width: 40%;
  text-align: left;
  padding-top: 10%;
}

.jumbo-text h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  color: #33475b;
}

.jumbo-text p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475b;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2.2;
}

.jumbo-text p.small{
  font-size: 12px;
}

.jumbo-text a{
  margin-bottom: 50px;
}

/* /Jumbotron */

/* /Header */

/* Main */
main{
  background-color: #f4f9fd;
}

/* Powerful */
.power{
  text-align: center;
  padding: 50px 100px;
  line-height: 1.6;
}

.power img{
  height: 180px;
}

.power h1{
  font-size: 32px;
  color: #33475b;
  padding-bottom: 20px;
}

.power p{
  color: #33475b;
}

/* /Powerful */

/* Boxes */

.box .container{
  background: white;
  padding: 40px 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px rgba(136, 136, 136, 0.2);
}

.box p{
    color: #33475b;
}


.book-btn{
  width: 30%;
  padding: 0 5%;
  text-align: center;
}

.book-btn img{
  height: 100px;
  margin-bottom: 50px;
}

.book-btn .btn{
  margin-top: 50px;
}

.free-crm{
  width: 70%;
  padding-right: 10%
}

.bar::after{
  content: '';
  display: block;
  float:right;
  width: 65%;
  height: 2px;
  margin-top: 9px;
  background-color: #33475b;
}

.free-crm span{
  font-size: 18px;
  color: #33475b;
}

.free-crm ul{
  margin-top: 25px;
}

.box-3-sec .container{
  margin-bottom: 40px;
}

.box-3-sec p{
  color: #33475b;
}

.box-3{
  background-color: white;
  width: 30%;
  padding: 3%;
  line-height: 1.6;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px rgba(136, 136, 136, 0.2);
}

.box-3:nth-child(2){
  margin: 0 5%;
}

.box-3 img{
  height: 120px;
}

.box-3 hr{
  margin-top: 40px;
  margin-bottom: 20px;
  color: #33475b;
}

.box-3 li{
  display:block;
  text-align: left;
  color: #33475b;
}

.box-3 ul{
  margin-bottom: 30px;

}

.fa-check-circle{
  color: #ff7a59;
  margin-right: 10px;
}

.fa-check-circle:hover{
  color: #33475b;
}
/* /Boxes */

/* Learning */
.learn{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  padding-top: 2%;
  padding-bottom: 5% ;
}

.learn-text{
  text-align: center;
  color: white;
}

.learn-text h2, p{
  color: white;
}

.learn-boxes{
  margin-top: 40px;
}

.box-4-top .box-4{
  border-top: none;
}

.box-4-top .box-4:first-child{
  border-left: none;
}

.box-4-top .box-4:last-child{
  border-right: none;
}

.box-4-bottom .box-4{
  border-bottom: none;
}

.box-4-bottom .box-4:first-child{
  border-left: none;
}

.box-4-bottom .box-4:last-child{
  border-right: none;
}

.box-4{
  width: 25%;
  padding: 2%;
  text-align: center;
  border: 1px solid white;
}

.resize{
  width: 150px;
}

.box-4 h4{
  font-size: 38px;
  color: white;
  margin-top: 20px;
}

.box-4 h4::after{
content: "+";
display: inline-block;
font-size: 24px;
font-style: normal;
vertical-align: middle;
margin-left: 5px;
}

/* /learning */

.growe{
  padding-top: 100px;
  background-color: white;
}

.growe-brand{
  padding-bottom: 50px;
}

.brand-text{
  width: 40%;
  text-align: center;
  padding: 0 5%;
}

.brand-text h2{
  font-size: 50px;
}

.brand-text p, .img-text p{
  color: #33475b;
}

.brand-row{
  width: 60%;
  text-align: center;
}

.grid-logo{
  margin-bottom: 30px;
}

.grid-cell{
  width: 25%;
  text-align: right;
}

.grid-cell img{
  width: 110px;
}

.img-text{
  width: 40%;
  text-align: left;
}

p.small{
  font-size: 12px;
}

.img-text p{
  margin: 50px 0;
}

.img-right{
  width: 60%;
  text-align: right;
}

.img-right img{
  height: 350px;
}
/* /Main */

/* Footer */
footer{
  background-color: #32495b;
}

.list{
  width: 25%;
  text-align: left;
}

.list h4{
  color: white;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 3px;
}

.list li{
  display:block;
  line-height: 2;
}

.list a, .footer-languages a, .social-icon a, .contact-btn ul, .copy-legal a{
  color: #cbd6e2;
}

.list a:hover, .social-icon a:hover, .footer-languages a:hover, .copy-legal a:hover{
  color: white;
}

a.btn-grey{
  color: #32495b;
  background-color: #cbd6e2;
}

a.btn-grey:hover{
  background-color: white;
}

.contact-btn{
  padding: 30px 0;
  width: 25%;
  text-align: left;
}

.social-icon{
  width: 25%;
  text-align: left;
}

.contact-btn{
  width: 25%;
  text-align: left;
}

.footer-languages{
  margin-top: 70px;
  text-align: center;
}

.footer-languages hr{
  margin-top: 30px;
  color: #cbd6e2;
}

.copy-logo, .copy-legal{
  width: 50%;
  margin-top: 40px;
}

.copy-logo{
  text-align: left;
}

.copy-legal{
  text-align: right;
}

/* /Footer */
