*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/*

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans Condensed', sans-serif;

*/

/* Classi riutilizzabili */
.container{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.btn{
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-orange{
  background-color: #ff7a59;
  color:white;
}

.btn-orange:hover{
  border: 1px solid #ff7a59;
  background-color: transparent;
  color: #ff7a59;
}

.btn-trans{
  border: 1px solid #ff7a59;
  color: #ff7a59;
}

.btn-trans:hover{
  background-color: #ff7a59;
  color:white;
}

.btn-large{
  background-color: #ff7a59;
  padding: 20px;
  color: white;
}

.btn-large:hover{
  border: 1px solid #ff7a59;
  background-color: transparent;
  color: #ff7a59;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #33475b;
  padding-right: 15px;
}

li{
  display: inline-block;
  padding: 0 5px;
}

a:hover{
  color: #ff7a59;
}


h2{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #33475b;
}

p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #33475b;
  line-height: 1.4;
}

/* Header */
header{
  display: unset;
}

/* Top Menu */
.nav-top{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid #33475b;
}

.border{
  border-right: 2px solid #33475b;
}

.fixed-left{
  width: 50%;
  text-align: left;
}

.fixed-right{
  width: 50%;
  text-align: right;
}
/* /Top Menu */

/* Menu fixed */
.nav-fixed{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1;
  top: 0;
}

.img-logo{
  width: 30%;
}

.img-logo img{
  vertical-align: middle;
}

.top-menu-right{
  width: 70%;
  text-align: right;
}
/* /Menu fixed */

/* Jumbotron */
.jumbotron{
  width: 100%;
  height: 690px;
  background-color: #fff4ee;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}

.jumbotron::before{
  width: 100%;
  height: 79px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  content:'';
  display: block;
}

.jumbo-text{
  width: 40%;
  text-align: left;
  padding-top: 10%;
}

.jumbo-text h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  color: #33475b;
}

.jumbo-text p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475b;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2.2;
}

.jumbo-text p.small{
  font-size: 12px;
}

.jumbo-text a{
  margin-bottom: 50px;
}

/* /Jumbotron */

/* /Header */

/* Main */
main{
  background-color: #f4f9fd;
}

/* Powerful */
.power{
  text-align: center;
  padding: 50px 100px;
  line-height: 1.6;
}

.power img{
  height: 180px;
}

.power h1{
  font-size: 32px;
  color: #33475b;
  padding-bottom: 20px;
}

.power p{
  color: #33475b;
}

/* /Powerful */

/* Boxes */

.box .container{
  background: white;
  padding: 40px 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px rgba(136, 136, 136, 0.2);
}


.book-btn{
  width: 30%;
  padding: 0 5%;
  text-align: center;
}

.book-btn img{
  height: 100px;
  margin-bottom: 50px;
}

.book-btn .btn{
  margin-top: 50px;
}

.free-crm{
  width: 70%;
  padding-right: 10%
}

.bar::after{
  content: '';
  display: block;
  float:right;
  width: 65%;
  height: 2px;
  margin-top: 9px;
  background-color: #33475b;
}

.free-crm span{
  font-size: 18px;
  color: #33475b;
}

.free-crm ul{
  margin-top: 25px;
}

.box-3-sec .container{
  margin-bottom: 40px;
}

.box-3{
  background-color: white;
  width: 30%;
  padding: 3%;
  line-height: 1.6;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px rgba(136, 136, 136, 0.2);
}

.box-3:nth-child(2){
  margin: 0 5%;
}

.box-3 img{
  height: 120px;
}

.box-3 hr{
  margin-top: 40px;
  margin-bottom: 20px;
  color: #33475b;
}

.box-3 li{
  display:block;
  text-align: left;
  color: #33475b;
}

.box-3 ul{
  margin-bottom: 30px;

}

.fa-check-circle{
  color: #ff7a59;
  margin-right: 10px;
}

.fa-check-circle:hover{
  color: #33475b;
}
/* /Boxes */

.learn{
  height: 600px;
  background-color: blue;
}

.growe{
  height: 600px;
  background-color: lightgrey;
}

/* /Main */
